[submodule "solid-python"]
	path = solid-python
	url = https://github.com/BBBSnowball/SolidPython.git
[submodule "Pyslvs-PyQt5"]
	path = Pyslvs-PyQt5
	url = https://github.com/40323230/Pyslvs-PyQt5
[submodule "dynamic"]
	path = dynamic
	url = https://github.com/smpss91341/python3_solve_dynamic.git
[submodule "genetic_algorithm_python"]
	path = genetic_algorithm_python
	url = https://github.com/40023139/python_genetic_algorithm.git
