/solvespace/exposed/obj
/solvespace/exposed/CDemo.exe
/solvespace/exposed/libslvs.so
/solvespace/exposed/slvs.dll
/solvespace/exposed/cdemo

/solvespace/exposed/_slvs.so
/solvespace/exposed/slvs.py
*.pyc
/solvespace/exposed/slvs_wrap.cxx
