[submodule "dynamic"]
	path = dynamic
	url = https://github.com/smpss91341/python3_solve_dynamic.git

[submodule "geneticalgorithmpython"]
	path = geneticalgorithmpython
	url = https://github.com/40023139/genetic_algorithm_python.git
[submodule "Pyslvs-PyQt5"]
	path = Pyslvs-PyQt5
	url = https://github.com/40323230/Pyslvs-PyQt5
